= form_for(@quote) do |f|
  - if @quote.errors.any?
    #error_explanation
      %h2
        = pluralize(@quote.errors.count, "error")
        prohibited this quote from being saved:
      %ul
        - @quote.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :text
    %br/
    = f.text_area :text, rows: 5, class: 'input-wide'
  .field
    = f.label :author
    %br/
    = f.text_field :author, class: 'input-wide'
  .field
    = f.label :source
    %br/
    = f.text_field :source, class: 'input-wide'
  .actions
    = f.submit